rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ===============================================================
    // Helper Functions
    // ===============================================================
    
    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isAuthenticated() && 
        (
          request.auth.token.email == "ravurukarthik740@gmail.com" ||
          request.auth.uid == "9SeI2eC7gHTHJM7r4v2pFCFJfWs2"
        );
    }

    // ===============================================================
    // Rules
    // ===============================================================

    match /users {
      allow read: if isAdmin();
      
      match /{userId} {
        allow read, write: if isOwner(userId) || isAdmin();
        allow delete: if isAdmin();
      }
    }

    match /test/{docId} {
      allow read: if true;
    }

    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
